!!!
html
head
  script(type='text/javascript', src='/js/jquery-1.9.1.min.js')
  script(type='text/javascript', src='/js/d3.v3.min.js')
  script(type='text/javascript', src='/js/async.js')
  script(type='text/javascript', src='/js/Sexy.js')
  script(type='text/javascript', src='/js/game.js')
  style
    html, body { margin:0; padding:0; }
    body{ overflow: hidden; }
    #dice input { width: 20% }
    #dice label { width: 80% }
    .f_left{ float:left}
    .f_right{ float:right}
    .hidden{ display: none };
    .clear{ clear: both };
    #container{
      position:relative;
    }
    #map{
      width:80%;
      float:left;
    }
    #controls{
      width:20%;
      float: right;
    }
    #startButton{ 
      position:absolute; 
      top:60%; 
      right:30%;
      width: 10em;
      height: 5em;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: black;
      color: white;
      font-weight: bold;
    }
body
  input#gameId(type='hidden', value=locals.gameId)
  #container
    #map
    #controls
      input#startButton(type='button', value='Start Game')
      input#doneAttackingButton.hidden(type='button', value='Done Attacking')
      #dice.hidden
        #diceAtk
          input#atk_d3.f_left(type='radio', name='atk_DiceCt', value='3')
          label#atk_d3l.f_right(for='atk_d3') 3
          .clear
          input#atk_d2.f_left(type='radio', name='atk_DiceCt', value='2')
          label#atk_d2l.f_right(for='atk_d3') 2
          .clear
          input#atk_d1.f_left(type='radio', name='atk_DiceCt', value='1')
          label#atk_d1l.f_right(for='atk_d3') 1
          .clear
        #diceDef
          label#def_d3l.f_left(for='def_d3') 3
          input#def_d3.f_right(type='radio', name='def_DiceCt', value='3')
          .clear
          label#def_d2l.f_left(for='def_d3') 2
          input#def_d2.f_right(type='radio', name='def_DiceCt', value='2')
          .clear
          label#def_d1l.f_left(for='def_d3') 1
          input#def_d1.f_right(type='radio', name='def_DiceCt', value='1')
          .clear
      #diceResults
        #diceResultsAtk
          
        #diceResultsDef
    .clear
    #messages
